<a href="https://colab.research.google.com/github/PSha98/Erdos-2022-project/blob/main/Scraping_final_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests  ## used for requesting to access the HTML webpage
import matplotlib.pyplot as plt 
import numpy as np 
import pandas as pd 
import bs4 ## used for web scrapping
from bs4 import BeautifulSoup 
from seaborn import set_style
set_style('whitegrid')
from time import sleep
import warnings
warnings.filterwarnings("ignore")
## 09-06-1985

In [ ]:
import datetime ## used for working with datetime formats
import re
start = datetime.datetime.strptime("09-06-1985", "%d-%m-%Y")
end = datetime.datetime.strptime("15-05-2022", "%d-%m-%Y")
date_generated = pd.date_range(start, end)

d = date_generated[0:-1:7]
d2 = []
for j in d: 
  d2.append(str(j.date()))
base_url = "https://www.playbill.com/grosses?week="
i=0
## Making an empty list
show_names=[]
potential_gross=[]
seats_sold=[]
previews=[]
cap=[]
diff=[]
diff_cap=[]
top_ticket=[]
avg_ticket=[]
seats_in_theatre=[]
theatre_name=[]
year = []

for e in d2: ## Iteration for every week spanning from 1984-2022
    html = requests.get(base_url + e)
    soup = BeautifulSoup(html.content, 'html.parser') ##Using Beautiful Soup from bs4 package to read the webpage
    table = soup.find('tbody')  ## soup.find searches for the table from webpage
    rows = table.find_all('tr') ## searches rows (tr is the HTML code for rows)
    for row in rows:
        
        cols=row.find_all('td')
        cols=[x.text.strip() for x in cols]    ## Scrapping values
        #print(cols)
        year.append(e)
        theatre_name.append(cols[0].split('\n\n')[1])
        show_names.append(cols[0].split('\n')[0])
        potential_gross.append(cols[1])
        diff.append(cols[2])
        avg_ticket.append(cols[3].split('\n')[0])
        top_ticket.append(cols[3].split('\n')[1])
        seats_sold.append(cols[4].split('\n')[0])
        seats_in_theatre.append(cols[4].split('\n')[1])
        previews.append(cols[5].split('\n')[0])
        cap.append(cols[6])
        diff_cap.append(cols[7])
## Having scrapped all the relevant data, converting the data into a dataframe
df = pd.DataFrame({'Year':year,'Show_name':show_names, 'Theater_name':theatre_name,
                   'Potential_Gross':potential_gross,'Difference':diff,
                   'Top_ticket':top_ticket,'Average_ticket':avg_ticket,
                   'Seats_Sold':seats_sold,'Seats_in_theater':seats_in_theatre,
                   'Previews':previews,'%cap':cap,'diff_cap':diff_cap})
print(df)

          Year                                          Show_name  \
0   2022-05-01                                     A Strange Loop
1   2022-05-01                                            Aladdin
2   2022-05-01                                   American Buffalo
3   2022-05-01                                        Beetlejuice
4   2022-05-01                                   Birthday Candles
..         ...                                                ...
67  2022-05-08                           The Phantom of the Opera
68  2022-05-08                              The Skin of Our Teeth
69  2022-05-08                      Tina: The Tina Turner Musical
70  2022-05-08                                             Wicked
71  2022-05-08  for colored girls who have considered suicide/...

                    Theater_name Potential_Gross    Difference Top_ticket  \
0                 Lyceum Theatre     $415,275.50    $29,315.50    $248.00
1          New Amsterdam Theatre     $965,527.18  -$352,695.71    $199.50
2   Circle in the Square Theatre     $528,846.30   -$67,979.60    $299.50
3                Marquis Theatre     $875,738.60  -$492,698.10    $249.00
4      American Airlines Theatre     $286,387.00   -$13,869.00    $197.00
..                           ...             ...           ...        ...
67              Majestic Theatre     $742,308.20   $117,127.78    $247.00
68       Vivian Beaumont Theater     $174,481.00    $33,370.00    $225.00
69         Lunt-Fontanne Theatre   $1,065,578.30   $193,232.80    $249.00
70              Gershwin Theatre   $1,341,127.00   $144,364.00    $230.00
71                 Booth Theatre     $159,092.90   -$91,081.60    $223.00

   Average_ticket Seats_Sold Seats_in_theater Previews    %cap diff_cap
0          $74.01      5,611              922        7  76.07%   -3.91%
1          $77.14     12,516            1,727        8  90.59%   -7.13%
2         $114.22      4,630              751        8  77.06%  -10.51%
3         $119.38      7,336            1,602        8  57.24%  -23.42%
4          $72.98      3,924              727        8  67.47%   -5.74%
..            ...        ...              ...      ...     ...      ...
67         $94.60      7,847            1,605        8  61.11%    9.18%
68         $52.81      3,304            1,058        8  39.04%   -8.27%
69        $122.56      8,694            1,478        8  73.53%   14.13%
70        $119.06     11,264            1,807        8  77.92%    4.53%
71         $65.71      2,421              773        8  39.15%  -11.77%

[72 rows x 12 columns]

In [ ]:
df

,Year,Show_name,Theater_name,Potential_Gross,Difference,Top_ticket,Average_ticket,Seats_Sold,Seats_in_theater,Previews,%cap,diff_cap
0,2022-05-01,A Strange Loop,Lyceum Theatre,"$415,275.50","$29,315.50",$248.00,$74.01,"5,611",922,7,76.07%,-3.91%
1,2022-05-01,Aladdin,New Amsterdam Theatre,"$965,527.18","-$352,695.71",$199.50,$77.14,"12,516","1,727",8,90.59%,-7.13%
2,2022-05-01,American Buffalo,Circle in the Square Theatre,"$528,846.30","-$67,979.60",$299.50,$114.22,"4,630",751,8,77.06%,-10.51%
3,2022-05-01,Beetlejuice,Marquis Theatre,"$875,738.60","-$492,698.10",$249.00,$119.38,"7,336","1,602",8,57.24%,-23.42%
4,2022-05-01,Birthday Candles,American Airlines Theatre,"$286,387.00","-$13,869.00",$197.00,$72.98,"3,924",727,8,67.47%,-5.74%
...,...,...,...,...,...,...,...,...,...,...,...,...
67,2022-05-08,The Phantom of the Opera,Majestic Theatre,"$742,308.20","$117,127.78",$247.00,$94.60,"7,847","1,605",8,61.11%,9.18%
68,2022-05-08,The Skin of Our Teeth,Vivian Beaumont Theater,"$174,481.00","$33,370.00",$225.00,$52.81,"3,304","1,058",8,39.04%,-8.27%
69,2022-05-08,Tina: The Tina Turner Musical,Lunt-Fontanne Theatre,"$1,065,578.30","$193,232.80",$249.00,$122.56,"8,694","1,478",8,73.53%,14.13%
70,2022-05-08,Wicked,Gershwin Theatre,"$1,341,127.00","$144,364.00",$230.00,$119.06,"11,264","1,807",8,77.92%,4.53%
71,2022-05-08,for colored girls who have considered suicide/...,Booth Theatre,"$159,092.90","-$91,081.60",$223.00,$65.71,"2,421",773,8,39.15%,-11.77%

In [ ]:
## Refining the data to make it use for Analysis
df.replace(',','', regex=True, inplace=True)  ## Removing commas into the strings
df.replace('%','', regex=True, inplace=True)  ## Removing the % sign into the strings
df['Potential_Gross']=df["Potential_Gross"].str.replace('$', '')  ## Removing $ sign 
df['Difference']=df['Difference'].str.replace('$', '')
df['Top_ticket'] = df['Top_ticket'].str.replace('$', '')
df['Average_ticket']=df['Average_ticket'].str.replace('$', '')
df["Average_ticket"] = pd.to_numeric(df["Average_ticket"], downcast="float") ## Converting numeric characters of string to float type values 
df["Potential_Gross"] = pd.to_numeric(df["Potential_Gross"], downcast="float")
df["Difference"] = pd.to_numeric(df["Difference"], downcast="float")
df["Top_ticket"] = pd.to_numeric(df["Top_ticket"], downcast="float")
df["Seats_Sold"] = pd.to_numeric(df["Seats_Sold"], downcast="float")
df["Seats_in_theater"] = pd.to_numeric(df["Seats_in_theater"], downcast="float")
df["Previews"] = pd.to_numeric(df["Previews"], downcast="float")
df["%cap"] = pd.to_numeric(df["%cap"], downcast="float")
df["diff_cap"] = pd.to_numeric(df["diff_cap"], downcast="float")
df

,Year,Show_name,Theater_name,Potential_Gross,Difference,Top_ticket,Average_ticket,Seats_Sold,Seats_in_theater,Previews,%cap,diff_cap
0,2022-05-01,A Strange Loop,Lyceum Theatre,4.152755e+05,29315.500000,248.0,74.010002,5611.0,922.0,7.0,76.070000,-3.91
1,2022-05-01,Aladdin,New Amsterdam Theatre,9.655272e+05,-352695.718750,199.5,77.139999,12516.0,1727.0,8.0,90.589996,-7.13
2,2022-05-01,American Buffalo,Circle in the Square Theatre,5.288463e+05,-67979.601562,299.5,114.220001,4630.0,751.0,8.0,77.059998,-10.51
3,2022-05-01,Beetlejuice,Marquis Theatre,8.757386e+05,-492698.093750,249.0,119.379997,7336.0,1602.0,8.0,57.240002,-23.42
4,2022-05-01,Birthday Candles,American Airlines Theatre,2.863870e+05,-13869.000000,197.0,72.980003,3924.0,727.0,8.0,67.470001,-5.74
...,...,...,...,...,...,...,...,...,...,...,...,...
67,2022-05-08,The Phantom of the Opera,Majestic Theatre,7.423082e+05,117127.781250,247.0,94.599998,7847.0,1605.0,8.0,61.110001,9.18
68,2022-05-08,The Skin of Our Teeth,Vivian Beaumont Theater,1.744810e+05,33370.000000,225.0,52.810001,3304.0,1058.0,8.0,39.040001,-8.27
69,2022-05-08,Tina: The Tina Turner Musical,Lunt-Fontanne Theatre,1.065578e+06,193232.796875,249.0,122.559998,8694.0,1478.0,8.0,73.529999,14.13
70,2022-05-08,Wicked,Gershwin Theatre,1.341127e+06,144364.000000,230.0,119.059998,11264.0,1807.0,8.0,77.919998,4.53
71,2022-05-08,for colored girls who have considered suicide/...,Booth Theatre,1.590929e+05,-91081.601562,223.0,65.709999,2421.0,773.0,8.0,39.150002,-11.77

In [ ]:
df.to_csv('sample.csv')
from google.colab import files
files.download("sample.csv")