In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from seaborn import set_style
set_style('whitegrid')

In [21]:
gross_data = pd.read_csv('https://raw.githubusercontent.com/tacookson/data/master/broadway-grosses/grosses.csv')

In [22]:
show_info_data = pd.read_csv('https://raw.githubusercontent.com/PSha98/Erdos-2022-project/main/Data_collection/show_info_1985-2019.csv')

In [23]:
#0) Remove shows that lasted for just 1 week?  
#1) Seasonal plot for total gross, Total Seats available, Average percentage capacity across week.
#2) Trends for total gross (use average across months), (Average percentage capacity across month.)
#3) Correlation between gross and stock market data. 
#4) group data based on Show type, Theatre size, Number of weeks it ran,  and repeat steps 1,2. 
gross_data.head()

,week_ending,week_number,weekly_gross_overall,show,theatre,weekly_gross,potential_gross,avg_ticket_price,top_ticket_price,seats_sold,seats_in_theatre,pct_capacity,performances,previews
0,1985-06-09,1,3915937.0,42nd Street,St. James Theatre,282368.0,NaN,30.42,NaN,9281,1655,0.7010,8,0
1,1985-06-09,1,3915937.0,A Chorus Line,Sam S. Shubert Theatre,222584.0,NaN,27.25,NaN,8167,1472,0.6935,8,0
2,1985-06-09,1,3915937.0,Aren't We All?,Brooks Atkinson Theatre,249272.0,NaN,33.75,NaN,7386,1088,0.8486,8,0
3,1985-06-09,1,3915937.0,Arms and the Man,Circle in the Square Theatre,95688.0,NaN,20.87,NaN,4586,682,0.8405,8,0
4,1985-06-09,1,3915937.0,As Is,Lyceum Theatre,61059.0,NaN,20.78,NaN,2938,684,0.5369,8,0

In [24]:
# Historgram for show, and number of weeks (number of entries with show name in gross data)
shows = gross_data.show

In [48]:
freq = shows.value_counts().reset_index()
val = freq.iloc[:,1]
s = val.where(val == 1)
s.count()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: show, dtype: float64